


<div class="marquee-section">

  <div class="marquee marquee--right">
    <div class="marquee__track">
      @for (item of repeated1; track $index) {
        <span class="marquee__item">
          <span class="marquee__dot"></span>
          {{ item }}
        </span>
      }
    </div>
  </div>

  <div class="marquee marquee--left">
    <div class="marquee__track marquee__track--reverse">
      @for (item of repeated2; track $index) {
        <span class="marquee__item">
          <span class="marquee__dot"></span>
          {{ item }}
        </span>
      }
    </div>
  </div>

</div>