<nav class="navbar" [class.navbar--scrolled]="isScrolled">
  <div class="navbar__inner">

  <a
  class="navbar__logo"
  href="https://www.linkedin.com/company/medialacarte/"
  target="_blank"
  rel="noopener noreferrer"
>
  <img src="assets/images/Media.jpg" alt="Media Alacarte" />
</a>
   


    <ul class="navbar__links">
  @for (item of navItems; track item.route) {
    <li>
      <a
  [routerLink]="item.route"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: item.route === '/' }"
  class="navbar__link"
>
  {{ item.label }}
</a>
  }
</ul>


    <app-button variant="primary" routerLink="/login">
  Login
</app-button>

    <button class="navbar__hamburger" (click)="toggleMenu()" aria-label="Toggle menu">
      <span></span><span></span><span></span>
    </button>
  </div>

  <div class="navbar__mobile" [class.open]="menuOpen">
    @for (item of navItems; track item.route) {
      <a [routerLink]="item.route" (click)="menuOpen = false">{{ item.label }}</a>
    }
  </div>
</nav>